@import url('https://fonts.googleapis.com/css2?family=Arima:wght@100..700&family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
}

:root{
    --fonte-titulo: "Arima", system-ui;
    --fonte-texto: "Chakra Petch", sans-serif;
    --cor-cartao: #3c1642ff;
    --cor-cabecalho: #086375ff;
    --cor-texto01: #1dd3b0ff;
    --cor-texto02: #000000;
    --cor-destaque: #affc41ff;
    --cor-fundo: #b2ff9eff;
}

body{
    background-color: var(--cor-fundo);
    font-family: var(--fonte-texto);
}
header, footer{
    background-color: var(--cor-cabecalho);
    text-align: center;
    padding: 2em;
    color: var(--cor-texto01);
}
header h1{
    font-family: var(--fonte-titulo);
    font-size: 2.5em;
}

.projetos{
    padding: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cartao{
    text-align: center;
    background-color: var(--cor-cartao);
    width: 100%;
    margin: 1em 0;
    color: var(--cor-texto01);
    padding: 1em 0;
    border-radius: 10px;
}

.cartao:hover{
    background-color: var(--cor-cabecalho);
}

.cartao a{
    text-decoration: none;
    color: var(--cor-destaque);
}

footer{
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer a{
    text-decoration: none;
    color: var(--cor-destaque);
}

.principal-numero{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
}
.numero-input{
    font-size: 1.5em;
    padding: 1em;
}
.numero-botao{
    margin-left: 1em;
    font-size: 1.5em;
    padding: 1em;
    background-color: var(--cor-cabecalho);
    color: var(--cor-destaque);
    border-radius: 15px;
}